      <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">WilkenChG</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#!/players">Registro Jugadores</a>
              </li>
              <li>
                <a href="#!/property">Compra de propiedades</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>

      <section id="registerPlayer">
        <form class="form" name="frmRegisterPlayer" novalidate autocomplete="off" ng-submit="vm.presave(vm)">
          <h1>Registro de Jugadores</h1>
          <!--Inicio Formulario de Jugador-->
          <div class="col-xs-12 col-sm-12 col-md-12 ">
            <p class="failId"></p>
            <md-input-container class="col-xs-12 col-sm-4 col-md-4" >
              <label for="">Código:</label>
              <input type="text" ng-model="vm.code" name="code" ng-minlength="3" ng-maxlength="5" required>
              <div ng-messages="frmRegisterPlayer.code.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div><!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" >
              <label for="">Nombre del Jugador:</label>
              <input type="text" ng-model="vm.name" name="name" required>
              <div ng-messages="frmRegisterPlayer.code.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div><!--cierre del ng-messages -->
            </md-input-container>

            <md-input-container class="col-xs-12 col-sm-4 col-md-4" >
              <label for="">Alias:</label>
              <input type="text" ng-model="vm.alias" name="alias" required>
              <div ng-messages="frmRegisterPlayer.code.$error">
                <div ng-messages-include="components/includes/messages.html"></div>
              </div><!--cierre del ng-messages -->
            </md-input-container>

            <!-- Botones para Sellección de foto Registrar y Actualizar -->
            <div class="col-md-12">
              <!-- Boton para Sellección de foto-->
              <div class="col-xs-offset-0 col-sm-offset-6 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
                <label for="photo" class="btn btn-primary btn-file">
                  Fotografía<input class="" type="file" ng-model="vm.photo" value="fotografía" name="photo" id="photo" style="display: none;" >
                </label>
              </div>
              <!-- Boton para Registrar-->
              <div class="col-xs-offset-2 col-sm-offset-10 col-md-offset-0 col-xs-4 col-sm-6 col-md-4">
                <md-button class="button Active" type="submit" ng-disabled="frmRegisterPlayer.$invalid">Registrar</md-button>
              </div>
              <p class="Accepted"></p><!-- parrafo que muestra el estado correcto de un registro -->
            </div>
          </div>
        </form><!--cierre del formulario para registrar -->
      </section>
      <div class="col-md-12">
        <!--Buscar jugadores -->
        <section class="inputSearch">
          <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
            <form action="" class="search-form">
              <div class="form-group has-feedback">
                <label for="Buscar" class="sr-only">Buscar</label>
                <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
            <!--finalizar buscar jugadores -->
            <!--Inicio de cards-->
            <div class="col-xs-12 col-sm-12 col-md-12">
              <md-card  class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1" ng-repeat="player in vm.players
              | filter:vm.nameFilter track by $index">
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">{{player.code}}</span>
                  <span class="md-subhead">{{player.name}}</span>
                </md-card-header-text>
              </md-card-header>
              <md-card-title>
                <md-card-title-text>
                  <div>
                    <span class="md-subhead">Alias:{{player.alias}}</span>
                    <span class="md-subhead">Cantidad de Dinero:{{player.money}}</span>
                  </div>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-lg card-media">
                    <img img ng-src="{{player.photo}}" alt="Description" width="132px" height="170px"  class="photoStudent">
                  </div>
                </md-card-title-media>
              </md-card-title>
            </div><!--fin de los cards -->
          </section>
