      <nav class="navbar navbar-default navbar-custom navbar-fixed-top  navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html"></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar">
              <li>
                <a href="#!/players">Registro</a>
              </li>
              <li>
                <a href="#!/property">Compras</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <section id="registerProperty">

      </section>
      <div class="col-md-12">
        <!--Buscar jugadores -->
        <section class="inputSearch">
          <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
            <form action="" class="search-form">
              <div class="form-group has-feedback">
                <label for="Buscar" class="sr-only">Buscar</label>
                <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
            <!--finalizar buscar jugadores -->
            <!--Inicio de cards-->
            <div class="col-xs-12 col-sm-12 col-md-12">
              <md-card  class="col-xs-3 col-sm-3 col-md-3 col-md-offset-1" ng-repeat="property in vm.properties
              |filter:vm.nameFilter track by $index">
              <md-card-header>
                <md-card-header-text>
                  <span class="md-title">{{property.name}}</span>
                  <span class="md-title">Dueño:{{property.owner}}</span>
                  <span class="md-subhead">Precio: {{property.price}}</span>
                  <span class="md-subhead">Costo una casa: {{property.housecost}}</span>
                  <span class="md-subhead">Color: {{property.group}}</span>
                  <span class="md-subhead">Hipotecado: {{property.mortgaged}}</span>
                </md-card-header-text>
                <md-card-actions>
                  <md-button class="edit" data-toggle="modal" data-target="#purchaseModal" ><i class="fa fa-money" aria-hidden="true"></i> Comprar</md-button>


                  <div class="container">
                    <!-- Trigger the modal with a button -->
                    <!-- Modal -->
                    <div class="modal fade" id="purchaseModal" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <p>Realizar Compra</p>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="row">

                              <md-input-container class="col-xs-12 col-sm-12 col-md-12" layout="column">
                                <label for="">Jugador:</label>
                                <input type="text" list="playerList" ng-model="vm.player" name="player" required>
                                <datalist id="playerList">
                                  <option value="">--Seleccione un jugador--</option>
                                  <option ng-repeat="player in vm.players track by $index" value="{{player.name}}">{{vm.player.name}}</option>
                                </datalist>
                                <div ng-messages="frmRegisterEvent.player.$error">
                                  <div ng-messages-include="components/includes/messages.html"></div>
                                </div> <!--cierre del ng-messages -->
                              </md-input-container>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                              <md-button class="edit" ng-click="vm.buy(property)"><i class="fa fa-money" aria-hidden="true"></i> Comprar</md-button>                            </div>
                            </div>

                          </div>
                        </div>

                      </div>
                    </md-card-header>
                  </div><!--fin de los cards -->
                </section>



